# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/private

# Ignore paths that contain user-generated content.
private-files
sites/*/files
node_modules
